<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Разрешение на доступ к файлам через SAF -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="28" />

    <queries>
        <package android:name="md.obsidian" />
    </queries>

    <application
            android:label="@string/app_name"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/ShareToObsidian">

        <activity
                android:name=".ShareReceiverActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/ShareToObsidian">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
                android:name=".SettingsActivity"
                android:label="Сохранить в Obsidian - настройки"
                android:exported="false"
                android:theme="@style/ShareToObsidian"/>

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/ShareToObsidian"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>